body {
    background-image: linear-gradient(to right, #5657CE, #B351C2);
    font-family: "Times New Roman";
    margin: 70px;
    padding: 0;
  }
  .block {
    background: #ffffff;
    border-radius: 15px;
    height: 200px;
    position: relative;
    text-align-last: center;
    width: 800px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 150px;
  }

  .hero {
    position: absolute;
    right: 160px;
    bottom: 40px;
    top: 80px;
  }
  h2 {
    text-align: center;
    color: #000102;
    padding: 20px;
  }
  
  #Email {
    background-color: #e2dada;
    border-radius: 17px;
    padding-left: 18px;
    text-align-last: left;
    float: center;
    width: 280px;
    height: 40px;
    border: none;
  }
  #Password {
    background-color: #e2dada;
    border-radius: 17px;
    padding-left: 18px;
    text-align-last: left;
    width: 280px;
    height: 40px;
    border: none;
  }
  #do-login {
    background-color: #0dd64d;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    border: none;
  }
  
  a.alternate {
    float: center;
    color: #aca6a6;
    background-color: rgb(255, 254, 254);
    text-decoration: none
  }
  
  a.new-acc {
    float: center;
    color: #aca6a6;
    background-color: rgb(255, 254, 254);
    text-decoration: none
    
  }
  
  .icon {
    padding: 10px;
    min-width: 40px;
    color: #0dd64d;
  }
  .computersize {
    position: absolute;
    left: 160px;
    bottom: 100px;
    top: 115px;
    max-height: 160px;
      max-width: 160px;
  }
 
 